:root {
  --font-global: Helvetica, Arial, sans-serif;
  --color-header__nav-link: rgba(0, 0, 0, 0.8);
  --hover-header__nav-link: #000000;
  --color-header__profile-title: #1d1d1f;
  --color-header__profile-role: #6e6e73;
}

html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
}

/* ----- Container ----- */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
/* ----- */

/* ----- Header ----- */
.header {
  padding: 0;
}
.header__nav {
  display: flex;
  justify-content: center;
  padding: 0 0 6.2rem;
}
.header__nav-logo {
  display: block;
  width: 2rem;
}

/* Navigation */
.header__nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 44px;
}
.header__nav-item {
  list-style: none;
}
.header__nav-link {
  font-family: var(--font-global);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-header__nav-link);
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__nav-link:hover {
  color: var(--hover-header__nav-link);
}
/* */

/* Profile */
.header__profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 6rem;
}
.header__profile-title {
  margin: 0;
  padding: 0 0 7rem;
  font-family: var(--font-global);
  font-size: 8rem;
  font-weight: 600;
  color: var(--color-header__profile-title);
}
.header__profile-subtitle {
  display: block;
  font-family: var(--font-global);
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-header__profile-role);
}
/* */
/* ----- */
